<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATH">logs</Property>
        <Property name="CONSOLE_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+8}{faint} %5p - %msg%n</Property>
        <Property name="FILE_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+8}{faint} %5p - %msg%n</Property>
        <Property name="LOG_CHARSET">utf-8</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="${LOG_CHARSET}" pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
        <RollingFile name="File" fileName="${LOG_PATH}/log.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/log-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout charset="${LOG_CHARSET}" pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
